name: Deploy
on:
  workflow_dispatch:
  push:
    branches:
      - master
      - dev

jobs:
  build-and-deploy:
    runs-on: windows-latest
    steps:
      # Checkout your Git repo
      - uses: actions/checkout@v2
      # Install aftman and all aftman tools (rojo and mantle)
      - uses: ok-nick/setup-aftman@v0.4.2
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
      # Build the project with rojo
      - name: Build project
        run: rojo build --output game.rbxl
      # Deploy the project with mantle
      - name: Deploy project
        run: mantle deploy
        env:
          ROBLOSECURITY: ${{ secrets.ROBLOSECURITY }}
          MANTLE_OPEN_CLOUD_API_KEY: ${{ secrets.MANTLE_OPEN_CLOUD_API_KEY }}
          MANTLE_AWS_ACCESS_KEY_ID: ${{ secrets.MANTLE_AWS_ACCESS_KEY_ID }}
          MANTLE_AWS_SECRET_ACCESS_KEY: ${{ secrets.MANTLE_AWS_SECRET_ACCESS_KEY }}